*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  background: var(--bg);
  height: 100%;
  overflow: hidden;
}
button,
input,
textarea,
select {
  font-family: inherit;
  border-radius: 0;
  border: none;
  outline: none;
}
textarea::placeholder,
input::placeholder {
  color: var(--text-inactive);
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--border);
}
